[submodule "ext/CommonLibSSE"]
	path = ext/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE
[submodule "ext/Detours"]
	path = ext/Detours
	url = https://github.com/microsoft/Detours
